<div style="clear: both;"/>
<footer class="site-footer">
    2020 &copy; Eliza Huang | Inspired by <a href="https://github.com/lilianweng/lil-log/tree/gh-pages" target="_blank">Lil'Log</a> | <a href="{{ '/tags.html' | relative_url }}">Tags</a> | <a href="{{ '/contact.html' | relative_url }}">Contact</a> | <a href="{{ '/FAQ.html' | relative_url }}">FAQ</a>

    <p>
        <a href="{{ site.baseurl }}/feed.xml" target="_blank">
            <img src="{{ '/assets/images/logo_rss.png' | relative_url }}" />
        </a>
        <a href="https://github.com/lizzij" target="_blank">
            <img src="{{ '/assets/images/logo_github.png' | relative_url }}" />
        </a>
        <a href="https://scholar.google.com/citations?user=2dXhT40AAAAJ&hl=en" target="_blank">
            <img src="{{ '/assets/images/logo_scholar.png' | relative_url }}" />
        </a>
        <a href="https://www.instagram.com/lizzij.me/" target="_blank">
            <img src="{{ '/assets/images/logo_instagram.png' | relative_url }}" />
        </a>
        <a href="https://twitter.com/liz_zij/" target="_blank">
            <img src="{{ '/assets/images/logo_twitter.png' | relative_url }}" />
        </a>
    </p>
</footer>
