/**
 * Site header
 */

.site-header {
  background: $header-color;
  opacity: 1;
  min-height: $spacing-unit * 1.865;
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 600;
  color: $text-color-light;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $text-color-light;
  }

  &:hover {
    color: $yellow-color-very-light;
    text-decoration: none;
    cursor: pointer;
  }
}

.site-nav {
  float: right;
  text-align: right;
  line-height: $base-line-height * $base-font-size * 2.25;
  padding-right: 10px;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color-light;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 10px;
    }

    &:hover {
      color: $yellow-color-light;
      text-decoration: none;
      cursor: pointer;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  font-size: $small-font-size;
  color: $grey-color;
  clear: both;
  margin-bottom: 30px;

  a {
    color: $grey-color;
  }
  p {
    margin: 5px auto;
    width: 200px;
  }
  img {
    width: 26px;
    height: 26px;
    margin: 0 4px;
    display: block;
    float: left;
  }
}


/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  @include relative-font-size(1.5);
  font-weight: 600;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit * 0.5;
  }
}

.post-card {
  padding: 20px 10px 5px 10px;
  margin-left: -10px;
  border-radius: 5px;

  &:hover {
    background-color: $yellow-color-light;
    text-decoration: none;
    cursor: pointer;

    > h2 > a {
      // post-link
      > div {
        color: $text-color;
      }
      // blockquote
      > blockquote {
        background-color: white;
        border-left: 4px solid $text-color;
        > p {
          color: $text-color;
        }
      }
    }

    > span {
      // date
      color: $text-color;
      // tag
      > span > a {
        color: $text-color;
        border-color: $text-color;
        &:hover {
          border: 1px solid $text-color;
          text-decoration: none;
          color: $text-color;
          background: white;
        }
      }
    }
  }
}

.post-meta {
  position: relative;
  font-size: $small-font-size;
  color: $grey-color;
  z-index: 2; // > that of .post-link-area

  a.post-tag {
    border-radius: 5px;
    border: 1px solid $grey-color;
    color: $grey-color;
    padding: 1px 5px;
    margin-left: 5px;
    &:hover {
      border: 1px solid $brand-color;
      text-decoration: none;
      color: $text-color;
      background: $brand-color;
    }
  }
}

.post-link {
  color: $brand-color;
  display: block;
  @include relative-font-size(1.6);
  font-weight: 600;
  padding-top: 5px;
  -webkit-text-stroke: 0.1px $text-color;

  &:hover {
    text-decoration: none;
  }
}

.post-link-area {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding-top: 40px;
  margin-top: -40px;
  width: 100%;
  height: 100%;

  &:hover {
    text-decoration: none;
  }
}

/**
 * FAQ
 */

.other-pages {
    margin-top: $spacing-unit * 0.5;
}

div.qa {
    margin: 10px;
    padding: 10px;
    .question {
      border-radius: 5px;
      background: $grey-color-qa-background;
      padding: 5px;
      padding-left: 20px;
      margin-bottom: 0px !important;
    }
    .answer {
      padding: 5px;
      padding-left: 21px;
    }
 }

/**
 * Posts
 */
.post-header {
  margin-top: $spacing-unit * 2;
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.2);
  letter-spacing: -1px;
  line-height: 1.2;

  @include media-query($on-laptop) {
    @include relative-font-size(2.2);
  }

  font-weight: $base-font-weight * 1.5;
  width: $content-width * 0.85;
  max-width: 100%;
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(1.8);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }

    font-weight: $base-font-weight * 1.5;
    margin-top: $spacing-unit * 1.55;

    blockquote: {
        line-height: 1.5;
    }
  }

  h3 {
    @include relative-font-size(1.3);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
    font-weight: $base-font-weight * 1.35;
    margin-top: $spacing-unit * 1.1;
  }

  h4 {
    @include relative-font-size(1.1);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
    font-weight: $base-font-weight * 2.0;
    color: $grey-color;
  }

  a {
    border-bottom: 1px dotted #bbb;
    padding-bottom: 1px;

    &:hover {
      color: $yellow-color-light;
      border-bottom: 1px solid $yellow-color-light;
      padding-bottom: 1px;
      text-decoration: none;
    }
  }

}

.profile-picture {
  width: 240px;
}

.footnote {
  color: #aaaaaa;
  font-size: 85%;
}
